/target/
/node_modules/

/PWA/dist/
/PWA/node_modules/

/legacy/PWA/dist/
/legacy/PWA/node_modules/
/legacy/PWA/.vite/
/legacy/PWA/.pnpm-store/
/legacy/PWA/.turbo/
/legacy/PWA/.tsbuildinfo

/android/.gradle/
/android/local.properties
/android/app/build/
/android/build/
/android/.idea/
